<!DOCTYPE html>
<html>
    <head>
        <title>addpolice</title>
    </head>
    <body>
        <h2>Register</h2>
        <form action="/register" method="post">
            <label for="name":>name:</label><br>
            <input type="text" id="name" name="name" required><br><br>

             <label for="number":>number:</label><br>
            <input type="number" id="number" name="number" required><br><br>
            <textarea name="address" >Address</textarea>

             <input type="submit"value="submit">
             
        </form>  
          
    </body>
</html>