    <!DOCTYPE html>
<html>
    <head>
        <title>register</title>
    </head>
    <body>
        <h2>Register</h2>
        <form action="/register" method="post">
            <label for="name":>name:</label><br>
            <input type="text" id="name" name="name" required><br><br>

             <label for="number":>number:</label><br>
            <input type="number" id="number" name="number" required><br><br>

             <label for="email":>email:</label><br>
            <input type="text" id="email" name="email" required><br><br>

             <label for="gender":>gender:</label><br>
            <input type="radio" id="male" name="male" value="male">Male<br>
            <input type="radio" id="female" name="female" value="female">Female<br><br>
            
             <label for="qualification":>qualification:</label><br>
            <input type="text" id="qualification" name="qualification" required><br><br>
 
             <input type="submit" value="register">
        </form>
    </body>
</html>        
            
